:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(82, 82, 82, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
#root{
  max-width: 95vw;
  margin: 0;
}



.CasesGroupTableRow{
  border-top: 5px solid #343a40; /* make the first row thicker */
  border-bottom:5px solid #343a40
}



.btn-secondary {
  border: 2px solid white !important;
  
}


.table td{
  cursor:pointer;
}

.darkRow:hover {
  background-color: #14171a;
}
.lightRow:hover{
  background-color: rgb(208, 208, 208) ;
}

.darkGroupRow{
  background-color: #212529;
}

.lightGroupRow{
  background-color: rgb(237, 237, 237) ;
}


body .btn-back-light{
  background-color: rgb(135, 135, 135);
  color:#000000;
}

body .btn-back-light:hover{
  background-color: rgb(155, 155, 155);
  color:#000000;
  transform: scale(1.05);
  transition: transform 0.2s; 
}

body .btn-back-dark:hover{
  transform: scale(1.05);
  transition: transform 0.2s; 
}

body .dark-learn-btn{
  background-color: #0fbcd6;
  color:white;
  font-weight: 600;
  border:0px
}

body .dark-learn-btn:hover{
  background-color: #1ac4de ;
  color:white;
  font-weight: 600;
  transform: scale(1.05);
  transition: transform 0.2s; 
  border:0px
}

body .dark-learn-btn:active{
  color:white;
  font-weight: 600;
  transform: scale(1.05);
  transition: transform 0.2s; 
  border:0px;
  --bs-btn-active-color:white;
  
}
body .dark-learn-btn:disabled{
  color:white;
  font-weight: 600;
  border:0px
  
}

body .test-btn{
  background-color: #28a745;;
  color:white;
  font-weight: 600;
  border:0px;

  
}

body .test-btn:hover{
  background-color: #20b342; ;
  color:white;
  font-weight: 600;
  transform: scale(1.05);
  transition: transform 0.2s; 
  border:0px;
}

body .test-btn:active{
  color:white;
  font-weight: 600;
  transform: scale(1.05);
  transition: transform 0.2s; 
  border:0px;
  --bs-btn-active-bg: #1cd246;
}



body .learn-btn:disabled{
  color:white;
  background-color: #118da8;
}

body .light-learn-btn:disabled{

  color:white
}

body .light-learn-btn:hover{
  background-color: #14a5c5;
  color:white;
  transform: scale(1.05);
  transition: transform 0.2s;
  
}
body .light-learn-btn:active{
  background-color: #09a6ca;
  color:white;
  --bs-btn-active-color:white;
}

body .light-learn-btn{
  color:white;
  font-weight: 600;
  background-color: #0c95b4;
  border:0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


thead.trainTableHeader{
  font-size: 1.1rem;
}

.CasesAlgTableRow{
  font-size:1rem;
  border-bottom:2px solid #343a40
}

/* td{
  font-size: 1.2rem;
}
th{
  font-size: 1.25rem;
} */


.ScrambleText{
  font-size: 1.8rem;
  font-weight: 400;
  margin-top:20px;
  max-width: 90vw;

}

@media (max-width: 725px) {
  .ScrambleText{
    font-size: 1.2rem;
  }
  
}
.TestTimer{
  font-family: monospace; 
  text-align: center; 
  font-size: 130px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.TestExCont{
  background-color: #212529;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:20px;
  border-radius: 5px;
  border: 2px solid white
}

.AllTestButtonCont{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.TestGoodOkBadCont{
  display: flex;
  margin-left:15px;
  margin-right:15px;
  align-items: center;
}

.TestCaseName{
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 2rem;
}

.TestButton{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border:2px solid white;
}


#TestHes{
  border-radius: 5px;
  border: 1.5px solid rgb(255, 255, 255);
}

#TestGood{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1.5px solid rgb(10, 250, 10);
}

#TestOk{
  border: 1.5px solid rgb(255, 242, 1);
}

#TestBad{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1.5px solid rgb(255, 50, 27);
}

#TestTrash{
  background-color: red;
  border:1.5px solid white;
  border-radius: 5px;
}

.TestSessionCont{
  display: grid;
  grid-template-columns: 1fr;
  gap:2px;
  position: absolute;
  height:80vh;
  flex-direction: column;
  margin-top: 53px;
  margin-right:50px;
  background-color: #3b3d3f ;
  background-color: white;
  border:2px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom:0
}


.TestContainersCont{
  display: flex;
  flex-direction: row;
  width:100vw;
  position: absolute;
  right:0;
  height:90vh;
}


.TestTimeTable{
  background-color: #3b3d3f;
}

@media (max-width:1000px) {
  .TestSessionContSmall{
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #262626 ;
  padding:10px;
  justify-content: center;
  margin-left: 47%;
  transform: translate(-50%);
  bottom:0;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);;
}
.VisualScramble{
  display: none;
}
.TestSessionCont{
  display: none;
}
.ScrambleText{
    font-size: 1.8rem;
    min-height: 70px;;
  }
.TestPbTable{
  width:35vw; 
}
  

  .TestTimeTableSmall{
    width: 400px;
  }
  .TestPbTable th{
    font-size: 1.1rem;
  }
  .TestTimeTable th{
    font-size: 1rem;
  }
}

.TestPbTable>tbody>tr>td{
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  padding:5px;
}
.TestTimeTable>tbody>tr>td{
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  padding:5px;
}

.TestSessionContSmall{
  display: flex;
  
}

.TestPbContSmall>table>tbody>tr{
  height:35px;
}

.TestTimeTableSmall>table>tbody>tr{
  height:35px;
}
.TestPbContSmall>table>tbody>tr{
  height:35px;
  border-top:0px;
}
.TestLastSolvesContSmall>table>tbody>tr{
  height:35px;
  border-top:0px;
  
}

.TestPbContSmall > table > tbody > tr > th,
.TestPbContSmall > table > tbody > tr > td {
  height: 35px;
}


.TestPbContSmall>table>tbody>tr>td{
   font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.TestTimeTableSmall>tbody>tr>td{
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}


.TestPbContSmall{
  padding-right: 10px;
  background-color: #3b3d3f;
  border-radius: 5px;
}
.TestPbCont{
  padding-right: 10px;
  background-color: #3b3d3f;
  border-radius: 5px;
  width: 100%;
}

.TestTimeTableSmall{
  background-color: #3b3d3f;
  width:30vw;
  border-radius: 5px;

}
.TestTimeTableSmall>tbody>tr{
  height:35px;
}

.TestTimeTableSmall>tbody>tr>th{
  font-size: 1.1rem;
}
.TestTimeTableSmall{
  width: 40vw;
}

.Timercontainer {
  position: relative;
  width:90vw;
  margin-left: 5vw;
}

@media (min-width:1000px) {
.Timercontainer{
  margin-left:clamp(0vw,60%,100vw);
  transform: translate(-50%);

}
.TestPbContSmall{
  display: none;
}
.TestLastSolvesContSmall{
  display: none;
}
 .TestSessionContSmall{
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #3b3d3f ;
  padding:10px;
  justify-content: center;
  margin-left: 47%;
  transform: translate(-50%);
  bottom:0;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);;
}
.VisualScramble{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
}

.TestExCont{
  max-width:500px;
  width:90vw;
  margin-left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 50px;
}


@media (max-height:900px) {
  .TestSessionContSmall{
    display: none;
  }
}



.CpRecContainer{
  position: relative;
}



.GroupGrid{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid white;
  border-radius: 5px;
  margin:20px;
}

@media (min-width:1100px) {
 .CpOllGridsCont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid rgb(250, 250, 250);
  border-radius: 5px;
  margin:10px;
  margin-top: 0px;
  grid-auto-flow: row; 
}

}
.BarOllGridsCont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid rgb(250, 250, 250);
  border-radius: 5px;
  margin-top: 0px;
  grid-auto-flow: row; 
  min-width: 90vw;
}

@media (max-width:1100px) {
.CpOllGridsCont{
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid rgb(250, 250, 250);
  border-radius: 5px;
  margin:20px;
  grid-auto-flow: row;
 
}
.BarOllGridsCont{
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid rgb(250, 250, 250);
  border-radius: 5px;
  grid-auto-flow: row;
}
}


.OllGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr  1fr;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 5px;
  margin:20px;
  grid-auto-flow: column; 
}

.RecCont{
  position: relative;
}

.OllCpLocation{
  position:relative;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.CpRecOverlay{
  z-index: 100;
  position: absolute;
  height: 160px;
  width:160px;
  display: grid;
  left:calc(50%);
  top:20px;
  transform: translate(-50%,0);
  margin-top: 65px;
}

.CpGridOverlay{
  z-index: 2;
  position: absolute;
  height: 160px;
  width:160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  left:calc(50%);
  top:20px;
  transform: translate(-50%,0);
  margin-top: 65px;
  margin-top: 55px;
  height:80px;
  width:80px;
}


.OllGroupOptionsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr  1fr 1fr;
  column-gap: min(50px,5vw);
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}


.OllGroupOptionsItem{
  margin-top: 10px;;
  margin-bottom: 20px;
  opacity: 0.9;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.OllGroupOptionsItem:hover{
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);

}
.GroupItemName{
  margin-bottom: 10px;
  font-size: 1.4rem;
}
@media (min-width:900px){
  .GroupItemName{
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.OllGroupOptionsGrid{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr  1fr 1fr;
}
}

.OllItemQuickSelect{
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  margin-bottom: 20px;
  gap:10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: calc(100px * 4 + 10px*3);
}


.OllQuickSelectCont{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 60px;

}

.OllQuickSelectItem{
  opacity: 0.9;
 transition: transform 0.5s ease, opacity 0.2s ease;

}

.OllQuickSelectItem:hover{
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

.OllQuickSelectItem.selected{
  transform: scale(1.25);
  opacity: 1;
}

.svg-shadow{
  box-shadow: 10px,5px,5px,white;
}
g polygon{
  
}


.barExcludeCenters{
  margin:10px;
  width:"20px";
  height:"20px";
  vertical-align: middle;
}

.barExcludeCentersInput{
  background-color: #1b1b1b;
  color:white;
  font-weight: bold;
  text-align: left;
  cursor: text;
  width:300px;
  font-size:1rem;
  border-radius:3px;
  padding-left: 5px;
  white-space: pre-wrap;
  overflow-x: hidden;
  word-wrap:break-word;
  border:2px solid rgba(211, 211, 211, 0.174);
  margin-left:10px;
  margin-right:10px;
  
}

.barExcludeCentersInput:focus{
  outline: none;
  box-shadow: none;
  background-color: #0f0f0f;
  color:white;
  font-weight: bold;
  text-align: left;
  cursor: text;
  border-radius:3px;
  padding-left: 5px;
  white-space: pre-wrap;
  overflow-x: hidden;
  word-wrap:break-word;
  border:2px solid rgba(211, 211, 211, 0.174);
}

.barExcludeCont{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 3fr 5fr 1fr;
  margin-bottom: 20px;
}

.barQuestionIconCont{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.barQuestionIconCont:hover{
  cursor: pointer;
}


.barQuestionIconExtraInfo{
  position: absolute;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  bottom: 125%;        
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  color: white;
  padding: 2px 2px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 2000;
  width:150px;
  height:150px;
}

.barQuestionIconCont:hover .barQuestionIconExtraInfo {
  opacity: 1;
}

.barExcludeButtonSave{
  background-color: rgb(40, 40, 40);
  text-align: center;
  border-radius: 5px;
  color:white;
  font-size: 1rem;
  font-weight: 600;
  border:2px solid rgb(255, 255, 255);
  width:50px;
  height:30px;
}